html,body {
	background-color:#000;
	font-family: Verdana, Helvetica, Arial;
	height: 100%;
}
body{
	height: 98%;
}
.top{
	height:70%;
	color: #fff;
}
#leftArrow{
	background-color: #000;
	width:20%;
	background-image: url('../images/back.png');
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	background-size: contain;
	height:100%;
}
#rightArrow{
	background-color: #000;
	width: 20%;
	background-image: url('../images/next.png');
	background-repeat: no-repeat;
	background-position: center;
	float:right;
	background-size:contain;
	height: 100%;
	position: absolute;
	right: 0px;
	top:0px;
	;
}
#content{
	width: 59%;
	float: left;
	margin:5px;
	font-size: 50pt;
	text-align: center;
}
#content p{

}

#bottom{
	background-color: #000;
	height: 25%;
	position: absolute;
	bottom: 0;
	left: 20.5%;
	width: 59%;
	margin-bottom: 5px;
	background-image: url('../images/down.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.categories{
	padding:0px;
	background-color: #333;
	color: #eee;
	width: 50%;
	padding-bottom: 10px;
	padding-right: 10px;
	border-radius:15px;
	margin: 5px;
	float:left;
}
.categories ul{
	display: block;
	list-style: none;
	line-height: 1.5;
	color:#fff;
}
/*.categories ul li{
	display: block;
	border-color: red;
}*/
.categories ul li ol{
	color:#000;
	display: block;
	border:solid 3px black;
	background-color: #eee;
}
.categories ul li ol li{
	padding: 5px;
	padding-bottom: 10px;
	border-bottom: solid 1px #333;
}
.title{
	display: block;
	border-left:solid 3px black;
	border-right: solid 3px black;
	padding: 5px;
	background-color: #444;
	cursor: pointer;
}
.categoryTitleInicio{
	display: block;
	border-color: red;
	display: block;
	border:solid 3px black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: none;
}
.categoryFinal{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.phrase {
	display: block;
	width: 55%;

}
.buttons {
	width: 45%;
	float:right;
	vertical-align: text-bottom;
}
.buttons select{
	max-width: 150px;
}
.last
{
	border-bottom: none !important;
}
h1{
	color: #fff;
}
h3{
	padding: 10px;
}
.savedPhrases{
	padding:0px;
	background-color: #333;
	color: #eee;
	width: 45%;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	border-radius:15px;
	margin: 5px;
	float:right;
}
.savedPhrases ol{
	color:#000;
	display: block;
	border:solid 3px black;
	background-color: #eee;
}
.savedPhrases ol li{
	padding: 0px;
	padding-bottom: 10px;
	border-bottom: solid 1px #333;
}

.menuConfiguracion {
	display: block;
	color:#fff;
	padding-left: 0px;
	background-color: #ccc;
	width: 200px;
	float: left;
	padding: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	margin-right: 5px;
	text-align: center;
	cursor: pointer;
}
.phrasesSettings {
	float: left;
	background-color: #4682B4;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
}
.configSettings {
	display: none;
	float: left;
	background-color: #4682B4;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 100%;
	padding: 10px;

}
.active {
		background-color: #4682B4;
		
}

